* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  display: grid;
  justify-items: center;
  color: #111;
}

#page_header {
  min-height: 10vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#logo {
  width: 80px;
  cursor: pointer;
}

#hamburger {
  justify-self: end;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.menu_radio_button {
  display: none;
}

#mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  width: 100%;
  height: 100%;
  grid-template-rows: 10vh auto;
  transform: translateX(-100vw);
  transition: transform ease-in-out 0.3s;
}
#mobile_menu > label {
  width: 57px;
}
#mobile_menu img {
  align-self: center;
  width: 50px;
}
#mobile_menu > nav {
  display: grid;
  place-items: center;
  grid-template-rows: 10vh 10vh 10vh 10vh;
}
#mobile_menu > nav > a {
  font-weight: 700;
  text-align: center;
  font-size: 1.24rem;
  text-decoration: none;
  color: #fff;
}

#menu_open:checked ~ #mobile_menu {
  transform: translateX(0);
}

.mobile_menu_btn {
  align-self: center;
  justify-self: end;
}

#page_footer {
  min-height: 80vh;
  width: 100%;
  display: grid;
  justify-items: center;
}
#page_footer > img {
  align-self: center;
  width: 150px;
  cursor: pointer;
}
#page_footer > a {
  align-self: center;
}

#facebook {
  width: 30px;
  cursor: pointer;
}

.cont_three {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 30px;
  text-align: center;
}
.cont_three a {
  cursor: pointer;
  text-decoration: none;
  color: #111;
}
.cont_three h6 {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 4px;
}
.cont_three p {
  margin-top: 10px;
  font-size: 0.875rem;
}

#order {
  background-color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: grid;
  border: 2px solid #111;
  padding: 10px;
  border-radius: 30px;
}
#order > img {
  width: 30px;
}

@media only screen and (min-width: 1000px) {
  #page_footer {
    min-height: 50vh;
  }
  .cont_three {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
img {
  width: 100%;
}

iframe {
  width: 100%;
  min-height: 40vh;
}

.btn {
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  padding: 15px 40px;
  border-radius: 10px;
}

#family {
  margin-top: 48px;
  margin-bottom: 180px;
  width: 100%;
  display: grid;
  justify-items: center;
}
#family > img {
  border-radius: 20px;
  width: 85%;
}
#family > h1 {
  margin-top: 36px;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
}
#family > a {
  color: #404040;
}

#family_text {
  margin-top: 36px;
  display: grid;
  justify-items: center;
  width: 85%;
  line-height: 1.6;
}
#family_text > p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 36px;
}

#story {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #a79f95;
}

#about_btn {
  color: white;
  transform: translateY(48px);
}

.container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 48px;
  transform: translateY(-150px);
}
.container > h1 {
  width: 85%;
  text-align: left;
  margin-top: 36px;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.story_card {
  width: 85%;
  max-width: 800px;
  background-color: white;
  gap: 25px;
  display: grid;
  justify-items: center;
  padding: 20px 20px;
  border-radius: 20px;
}
.story_card > img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#flour1 > p {
  line-height: 1.8;
}

#yvan > p {
  line-height: 1.8;
}

@media only screen and (min-width: 630px) {
  .container > h1 {
    width: 85%;
    margin-top: 96px;
    margin-bottom: 48px;
    font-size: 3rem;
  }
  iframe {
    min-height: 60vh;
  }
}
@media only screen and (min-width: 1000px) {
  iframe {
    min-height: 75vh;
  }
  #family {
    margin-bottom: 48px;
  }
  #story {
    min-height: 70vh;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    transform: translateY(0%);
  }
  #container_one {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  #container_two {
    margin-bottom: 48px;
  }
  #yvan > img {
    min-height: 500px;
    object-position: 30% 50%;
  }
  #about_btn {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=about.css.map */
