* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  justify-items: center;
  color: #111;
}

#page_header {
  min-height: 10vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#logo {
  width: 80px;
  cursor: pointer;
}

#hamburger {
  justify-self: end;
  width: 25px;
  height: 25px;
}

img {
  width: 100%;
}

#hero {
  margin-top: 48px;
  min-height: 80vh;
  width: 90%;
  display: grid;
  place-items: center;
}

#hero_text {
  display: grid;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}
#hero_text > h1 {
  width: 80%;
}
#hero_text > a {
  width: 240px;
  color: #404040;
}

.surtitle {
  font-family: "raleway", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  letter-spacing: 4px;
}

#main_title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 35px;
}

.subtitle {
  font-family: "raleway", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 4px;
}

.inline_icon {
  margin-right: 5px;
  display: inline;
  width: 20px;
}

.btn {
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  padding: 15px 40px;
  border-radius: 10px;
}

#breads {
  background-color: #a79f95;
  margin-top: 48px;
  display: grid;
  justify-items: center;
  padding-bottom: 48px;
}
#breads > a {
  width: 80%;
  max-width: 300px;
  color: white;
}

.container {
  width: 100%;
  display: grid;
}

.cont_one {
  place-items: center;
  gap: 20px;
  transform: translateY(-50px);
}

.breads_card {
  width: 90%;
  max-width: 325px;
  display: grid;
  align-items: center;
  background-color: white;
  padding: 30px 20px;
  border-radius: 20px;
}
.breads_card > img {
  justify-self: center;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.breads_card > h4 {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
}
.breads_card > p {
  margin-top: 25px;
  font-style: italic;
}
.breads_card > h5 {
  margin-top: 25px;
  color: #a89f95;
  font-size: 1.5rem;
}
.breads_card > a {
  margin-top: 20px;
  padding: 10px 30px;
  justify-self: center;
  width: 180px;
  text-align: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
  background-color: #7f493e;
}

#values {
  width: 100%;
  background-color: #a79f95;
  display: grid;
  place-items: center;
  padding-bottom: 48px;
}
#values > h2 {
  margin-top: 60px;
  color: white;
}
#values > a {
  margin-top: 48px;
  width: 200px;
  color: white;
}

.title {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.cont_two {
  place-items: center;
  margin-top: 48px;
  gap: 48px;
}

.values_card {
  place-items: center;
  text-align: center;
  display: grid;
  width: 90%;
  max-width: 325px;
  color: white;
  gap: 20px;
  border-bottom: 0.5px solid white;
  padding-bottom: 30px;
}
.values_card > h3 {
  color: white;
}
.values_card > p {
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
