#page_footer {
  min-height: 80vh;
  width: 100%;
  display: grid;
  justify-items: center;
  > img {
    align-self: center;
    width: 150px;
    cursor: pointer;
  }
  > a {
    align-self: center;
  }
}

#facebook {
  width: 30px;
  cursor: pointer;
}

.cont_three {
  place-items: center;
  gap: 30px;
  text-align: center;
  h6 {
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 4px;
  }
  p {
    margin-top: 10px;
    font-size: 0.875rem;
  }
}
