@use "general";
@use "header";
@use "footer";

img {
  width: 100%;
}

iframe {
  width: 100%;
  min-height: 30vh;
}

.btn {
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  padding: 15px 40px;
  border-radius: 10px;
}

#family {
  margin-top: 48px;
  margin-bottom: 200px;
  width: 100%;
  min-height: 60vh;
  display: grid;
  justify-items: center;
  > img {
    border-radius: 20px;
    width: 325px;
  }
  > h1 {
    margin-top: 36px;
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
  }
}

#family_text {
  margin-top: 36px;
  display: grid;
  justify-items: center;
  width: 85%;
  line-height: 1.6;
  > p:nth-child(2) {
    margin-top: 24px;
  }
  > a {
    margin-top: 48px;
    color: #404040;
  }
}

#story {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #a79f95;
  > a {
    color: white;
    transform: translateY(-75px);
  }
}

.container {
  display: grid;
  place-items: center;
  gap: 48px;
  transform: translateY(-150px);
}

.story_card {
  background-color: white;
  width: 90%;
  gap: 25px;
  display: grid;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
}

#flour1 {
  height: 550px;
  > img {
  }
  > p {
    line-height: 1.8;
  }
}

#flour2 {
}

#yvan {
  > img {
    object-position: 20% 50%;
  }
  > p {
    line-height: 1.8;
  }
}
