@use "general";
@use "header";
@use "footer";

img {
  width: 100%;
}

.cat_menu_btn {
  cursor: pointer;
}

.hoverable:hover {
  background-color: #7f493e;
  color: white;
}
#show_cheese:checked ~ .cheese {
  background-color: #7f493e;
  color: white;
}

#show_bread:checked ~ .bread {
  background-color: #7f493e;
  color: white;
}

.cat_radio_button {
  display: none;
}

.product_section {
  width: 100%;
  background-color: #a79f95;
  justify-items: center;
  padding-bottom: 48px;
}

.cover_img {
  height: 300px;
  object-fit: cover;
}

.container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 20px;
  transform: translateY(-50px);
}

.product_card {
  height: 500px;
  width: 90%;
  max-width: 325px;
  display: grid;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  > img {
    justify-self: center;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
  > h4 {
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
  }
  > p {
    margin-top: 25px;
    font-style: italic;
  }
  > h5 {
    margin-top: 25px;
    color: #a89f95;
    font-size: 1.5rem;
  }
  > a {
    margin-top: 20px;
    padding: 10px 30px;
    justify-self: center;
    width: 180px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #7f493e;
  }
}

#bread_section {
  display: grid;
}

#cheese_section {
  display: none;
}

#show_bread:checked ~ #cheese_section {
  display: grid;
}

#show_bread:checked ~ #bread_section {
  display: none;
}
